<div class="container">

  <div id="app"></div>

  <script type="html/template" id="AppViewTemplate">
      <div id="appView">
        <div class="nav-wrapper">

          <nav>
            <h1 class="brand-logo">GA Airlines</h1>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="#" id="search">Search</a></li>
              <li><a href="#" id="userName">Username</a></li>
            </ul>
          </nav>
        </div>

         <h1>Virgin Airlines</h1>
         <button id="searchFlights">Search Flights</button>
         <div id="detailsContainer">
             <div id="searchForm"></div>

             <table id="flightsTable", class="highlight">
                 <thead>
                     <th>Date</th>
                     <th>Flight</th>
                     <th>From > To</th>
                     <th>Plane</th>
                 </thead>
             </table>
          </div>
      </div>
      </script>

      <script type="html/template" id="SearchInputViewTemplate">

          <div>
               <input id="fromInput" type="text" placeholder="from"/>
               <input id="toInput" type="text" placeholder="to"/>
               <button id="cancel">Cancel</button>
               <button id="search">Search</button>
      </div>

  </script>

  <script type="html/template" id="FlightsViewTemplate">
              <td>{{ date }}</td>
              <td><a href="#">{{ name }}</a></td>
              <td>{{ departure }} > {{ arrival }}</td>
              <td>{{ airplane.name }}</td>
  </script>

  <script type="html/template" id="seatingChart">
      <h2>{{ date }} Flight {{ name }} {{ departure }} > {{ arrival }}</h2>

  </script>
</div>
