
<div id="app"></div>

<script type="html/template" id="AppViewTemplate">
    <div id="appView">
       <nav>
         <a href="#" id="search">Search</a>
         <a href="#" id="userName">Username</a>
       </nav>
       <h1>Virgin Airlines</h1>
       <button id="searchFlights">Search Flights</button>
       <div id="detailsContainer">
           <div id="searchForm"></div>

           <table id="flightsTable">
               <tr>
                   <td>Date</td>
                   <td>Flight</td>
                   <td>From > To</td>
                   <td>Plane</td>
               </tr>
           </table>
        </div>
    </div>
    </script>

    <script type="html/template" id="SearchInputViewTemplate">

        <div>
             <input id="fromInput" type="text" placeholder="from"/>
             <input id="toInput" type="text" placeholder="to"/>
             <button id="cancel">Cancel</button>
             <button id="search">Search</button>
    </div>

</script>

<script type="html/template" id="FlightsViewTemplate">
<<<<<<< HEAD

=======
>>>>>>> 5411af74fe63ecb21daef67a33fca8fc1696dba5
            <td>{{ date }}</td>
            <td><a href="#">{{ name }}</a></td>
            <td>{{ departure }} > {{ arrival }}</td>
            <td></td>
<<<<<<< HEAD

=======
>>>>>>> 5411af74fe63ecb21daef67a33fca8fc1696dba5
</script>

<script type="html/template" id="seatingChart">
    <h2>{{ date }} Flight {{ name }} {{ departure }} > {{ arrival }}</h2>

</script>
